<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="RSA UAT Suite" verbose="1" parallel="classes" thread-count="5">

    <listeners>
        <listener class-name="listeners.TestListener"/>
        <listener class-name="utils.DashboardReportGenerator"/>
    </listeners>

    <test name="UAT PromotionRsaOffline Tests">
        <packages>
            <package name="testcases.uat.PromotionRsaOffline"/>
        </packages>
    </test>

    <test name="UAT Promotion Tests">
        <packages>
            <package name="testcases.uat.Promotion"/>
        </packages>
    </test>

</suite>
<!--
=== LỆNH RUN ===
cd ".kiro\Automation selenium java\Selenium-java-master"; mvn clean test
-->
