<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="RSA UAT Suite" verbose="1" parallel="classes" thread-count="5">

    <listeners>
        <listener class-name="listeners.TestListener"/>
        <listener class-name="utils.DashboardReportGenerator"/>
    </listeners>

    <test name="UAT PromotionRsa Tests">
        <packages>
            <package name="testcases.uat.PromotionRsaOffline"/>
            <package name="testcases.uat.PromotionRsaOnline"/>
        </packages>
    </test>

</suite>
<!--
=== LỆNH RUN ===
cd ".kiro\Automation selenium java\Selenium-java-master"; mvn clean test



cd ".kiro\Automation selenium java\Selenium-java-master"; mvn clean test


cd "/Users/leduykhang/Documents/Automation/AI-MACAI2/.kiro/Automation selenium java/Selenium-java-master" && mvn clean test -Dtest=testcases.uat.PromotionRsa.TC18
-->
